@import '~antd/dist/antd.css';


*{
  box-sizing: border-box;
  margin: 0;
}


.post-main__block{
  background-color: #cccccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
}

.post-main__block h5{
  text-transform: uppercase;
}

.posts__block, .users__block{
  max-height: 80vh;
  overflow-y: auto;
}

.user-data{
  font-weight: bold;
}

.user-data span{
  font-weight: normal;
}

.user-block:hover .ant-card, .user-block :hover .ant-card-head{
  background-color: #313131;
  color: #ffffff;
}
