@import '~antd/dist/antd.css';


*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: #f0f2f5!important;
}

body a:hover{
  text-decoration: none;
}

img{
  width: 100%;
}

.post-main__block{
  background-color: #cccccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
}

.post-main__block .ant-typography{
  text-transform: capitalize;
}

.post-main__block h5{
  text-transform: uppercase;
}

.posts__block, .users__block{
  max-height: 80vh;
  overflow-y: auto;
}

.user-data{
  font-weight: bold;
}

.user-data span{
  font-weight: normal;
}

.user-block:hover .ant-card, .user-block :hover .ant-card-head{
  background-color: #313131;
  color: #ffffff;
}

.profile-card{
  font-size: 18px;
}

.profile-card .ant-card-head-title{
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.profile-username{
  font-size: 24px;
  color: orange;
}

.profile-avatar{
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.posts-main{
  max-height: 50vh;
  overflow-y: auto;
}

#header{
  padding: 15px 100px;
  background-color: #001529;
  width: 100vw;
}

.header-inner, .nav-block{
  display: flex;
  align-items: baseline;
}

.header-inner{
  justify-content: space-between;
}

.logo{
  width: 50px;
}

.nav ul, .user-control__block ul{
  list-style: none;
  display: flex;
}

.nav ul li, .user-control__block ul li{
  margin-right: 20px;
}

.nav ul li a, .user-control__block ul li a, .nav ul li a, .user-control__block ul li span{
  color: #ffffff;
}

.lang-switcher__btn{
  color: #ffffff;
  cursor: pointer;
}

.user-name{
  color: green;
  font-size: 20px;
}

.user-name span{
  font-size: 16px;
}

.users-card__main .ant-card-head-title{
  font-size: 24px;
  font-weight: bold;
}

.lang-switcher ul li{
  position: relative;
  margin-right: 50px;
}

.lang-switcher ul li:last-child{
  margin-right: 0;
}

.lang-switcher ul li .lang-icon{
  width: 15px;
  position: absolute;
  right: 23px;
  top: 0;
}


