@import '~antd/dist/antd.css';


*{
  box-sizing: border-box;
  margin: 0;
}

img{
  width: 100%;
}

.post-main__block{
  background-color: #cccccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
}

.post-main__block .ant-typography{
  text-transform: capitalize;
}

.post-main__block h5{
  text-transform: uppercase;
}

.posts__block, .users__block{
  max-height: 80vh;
  overflow-y: auto;
}

.user-data{
  font-weight: bold;
}

.user-data span{
  font-weight: normal;
}

.user-block:hover .ant-card, .user-block :hover .ant-card-head{
  background-color: #313131;
  color: #ffffff;
}

.profile-card{
  font-size: 18px;
}

.profile-card .ant-card-head-title{
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.profile-username{
  font-size: 24px;
  color: orange;
}

.profile-avatar{
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.posts-main{
  max-height: 50vh;
  overflow-y: auto;
}

#header{
  padding: 15px 100px;
  background-color: #001529;
  width: 100vw;
}

.header-inner{
  display: flex;
  align-items: baseline;
}

.logo{
  width: 50px;
}

.nav ul{
  list-style: none;
  display: flex;
}

.nav ul li{
  margin-right: 20px;
}

.nav ul li a{
  color: #ffffff;
}

